@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Geologica:wght@100..900&display=swap');

$geologica: 'Geologica', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;

$font-family-primary: $comfortaa;
$font-family-secondary: $geologica;
$font-family-monospace: 'Courier New', monospace;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;