@import "../variables/colors";
@import "../variables/fonts";
@import "../abstractions/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  background-color: $color-dark-quaternary;
  max-width: 80em;
  margin: 0 auto;
  padding: 0 16px;
  color: $color-text-primary;
}

html, body {
  height: 100%;
}

// Глобальні стилі для текста
p {
  color: $color-text-secondary;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition;

  &:hover {
    color: $color-accent-hover;
  }
}

// Гіперпосилання за замовчуванням
button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}

// Видалення стандартного стилю форм
input, textarea, select {
  font-family: $font-family-primary;
}